<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Looking for
      <br />
      Web Design in Calgary?
    </h2>
    <p>
      Transform your website into a revenue generating machine! Don't settle for
      a website that's going to sit there doing nothing for you. Hire your new
      <a id="inline-link" href="/">web designers Calgary</a> to captivate your
      audience while you outshine, outrank, and outperform your online
      competition... in your sleep!
    </p>
    <a href="/contact" class="cs-button-solid">Get Your Website Now</a>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/calgary-web-design-prices-costs.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/calgary-web-design-prices-costs.jpg"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/calgary-web-design-prices-costs.jpg"
      alt="calgary web designer"
      loading="lazy"
      width="2500"
      height="1667"
    />
  </picture>
</section>
