<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Water Damage Repair in Wyoming - Stop Those Leaks Now!
    </h2>
    <p>
      Call us now to speak with one of our friendly Wyoming water damage repair
      experts. We'll answer all your questions, guide you through our process as
      fast as possible, and provide you with a free, no-obligation quote. Don't
      wait any longer—let us help you get back to normal life. Get your comfort
      back with just a phone call.
    </p>
    <a href="tel: {{client.phoneForTel}}" class="cs-button-solid"
      >Call now: {{client.phoneFormatted}}</a
    >
  </div>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/banner.jpg"
      alt="water damage repair wyoming"
      loading="lazy"
      width="2500"
      height="1667"
    />
  </picture>
</section>
