<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section class="cs-contact-486">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Send us a message!</h2>
      <p class="cs-text">Text</p>
      <span class="cs-heading">You can also contact us here:</span>
      <a href="tel:{{client.phoneForTel}}" class="cs-link"
        >{{client.phoneFormatted}}</a
      >
      <a href="mailto:{{client.email}}" class="cs-link">{{client.email}}</a>
    </div>
    <!--Form-->
    <form class="cs-form-486" name="contact" method="POST" data-netlify="true">
      <h3 class="cs-h3">What can we do for you?</h3>
      <input type="hidden" name="form-name" value="contact" />

      <label class="cs-label">
        Name *
        <input
          class="cs-input"
          required
          type="text"
          id="name-486"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="cs-label">
        Phone *
        <input
          class="cs-input"
          required
          type="text"
          id="phone-486"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class="cs-label">
        Email *
        <input
          class="cs-input"
          required
          type="text"
          id="email-486"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="cs-label">
        Message *
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1700"
          placeholder="Message"
        ></textarea>
      </label>
      <button class="cs-button-solid cs-submit" type="submit">
        Send Message
      </button>
    </form>
  </div>
</section>
