<!-- ============================================ -->
<!--                   Gallery                   -->
<!-- ============================================ -->

<section class="services-342">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Recent Projects</span>
      <h2 class="cs-title">Get The Perfect Website For Your Business</h2>
      <p class="cs-text">
        Below are a few recent Calgary Alberta
        <a href="/services/web-design-calgary">website design</a> and
        development projects that I’ve launched to help local businesses just
        like yours grow and expand their
        <a href="/services/calgary-seo-services">online presence</a> and get
        seen by more customers that are searching for their services on the
        internet. Simply click on the images below and you will be taken to the
        corresponding live website.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-landscaper.png
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-landscaper.png
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/projects/calgary-web-design-for-landscaper.png"
              alt="calgary web design for landscaper"
              width="413"
              height="240"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Landscaper Website</h3>
          <p class="cs-item-text">
            {# We’ve helped thousands of organizations transform to become
            relevant of helped thousands. #}
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-contractor.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-contractor.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/projects/calgary-web-design-for-contractor.jpg"
              alt="calgary web design for contractor"
              width="413"
              height="240"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Glass Contractor Website</h3>
          <p class="cs-item-text">
            {# We’ve helped thousands of organizations transform to become
            relevant of helped thousands. #}
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-electrician.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-electrician.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/projects/calgary-web-design-for-electrician.jpg"
              alt="calgary web design for electrician"
              width="413"
              height="240"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Electrician Website</h3>
          <p class="cs-item-text">
            {# We’ve helped thousands of organizations transform to become
            relevant of helped thousands. #}
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-finance.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-finance.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/projects/calgary-web-design-for-finance.jpg"
              alt="calgary web design for finance"
              width="413"
              height="240"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Automotive Website</h3>
          <p class="cs-item-text">
            {# We’ve helped thousands of organizations transform to become
            relevant of helped thousands. #}
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-renovator.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-renovator.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/projects/calgary-web-design-for-renovator.jpg"
              alt="calgary web design for renovator"
              width="413"
              height="240"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Renovator Website</h3>
          <p class="cs-item-text">
            {# We’ve helped thousands of organizations transform to become
            relevant of helped thousands. #}
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-photographer.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                /assets/images/projects/calgary-web-design-for-photographer.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/projects/calgary-web-design-for-photographer.jpg"
              alt="calgary web design for photographer"
              width="413"
              height="240"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Photographer Website</h3>
          <p class="cs-item-text">
            {# We’ve helped thousands of organizations transform to become
            relevant of helped thousands. #}
          </p>
        </a>
      </li>
    </ul>
    <p>
      There's more where that came from! <a href="/contact">Contact me</a> to
      see more of my work.
    </p>
  </div>
</section>
