<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section class="logos-857">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">happy clients</span>
      <h2 class="cs-title">some of my awesome web design & SEO clients</h2>
      <p class="cs-text">
        Since starting a
        <a href="/services/web-design-calgary">web design & development</a>
        business in early 2020, I have had the pleasure of working with a
        variety of industries on their website and
        <a href="/services/calgary-seo-services">SEO services</a>, including
        construction & home services, lodging, automotive, manufacturing,
        engineering, health & wellness, fine arts, advertising, and more. Below
        are a few of those lucky clients!
      </p>
    </div>
    <div class="cs-logo-group">
      <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
      <img
        class="cs-logo"
        src="/assets/images/clients/web-design-calgary-client-1.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/calgary-web-design-client-2.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/calgary-website-design-client-3.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/website-design-calgary-client-4.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/web-designer-calgary-client-5.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />

      <img
        class="cs-logo"
        src="/assets/images/clients/calgary-web-designer-client-6.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/best-calgary-web-design-client-7.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/best-calgary-website-designer-client-8.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />

      <img
        class="cs-logo"
        src="/assets/images/clients/website-designers-calgary-client-9.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/calgary-website-designers-client-10.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/web-designers-calgary-client-11.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/web-design-calgary-client-12.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/web-design-calgary-client-13.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/web-design-calgary-client-14.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
      <img
        class="cs-logo"
        src="/assets/images/clients/web-design-calgary-client-15.svg"
        alt="calgary web design client logo"
        width="150"
        height="65"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>
</section>
