<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section class="reviews-1673">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">
        Real Results For Calgary Web Design Services & Local SEO
      </h2>
      <p class="cs-text">
        Working with your new adept
        <a href="/services/web-design-calgary">Calgary web design</a> services
        provider means it is completely up to you on how involved you would like
        to be on your next website, landing page, eCommerce, or
        <a href="/services/calgary-seo-services">SEO project</a>. Some clients
        love when I take full control of their website design or
        <a href="/services/calgary-seo-services">SEO campaign</a> because it’ll
        be unique and spot on to your branding. Other’s love a more
        collaborative approach that is taken for the overall look and feel of
        their new website, or SEO campaign messaging. Either way, the priority
        remains: you will see real results come from getting an expert to
        <a href="/services/web-design-calgary">improve your website</a>, SEO,
        and online presence.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/google-review-for-web-designer.svg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>

          <span class="cs-name">
            Victoria Preissl
            <span class="cs-job">KLAAD Glass Ltd.</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-text italics">
            Aaron listened to our feedback, answered our questions, and brought
            his expertise. He also referred us to a computer tech that helped us
            set up Microsoft 365, Sharepoint, shared data files, Outlook, etc.
            Aaron was friendly, timely and totally fun to work with. 60 days
            after lauching, the site generated a 16x increase in online
            inquiries. I would recommend Aaron, and have, to anyone looking to
            increase their business visibility, website traffic,
            professionalism, credibility, and most importantly, revenue!
            <a
              target="_blank"
              href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
              >Read more...</a
            >
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/google-review-for-web-designer.svg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>

          <span class="cs-name">
            Rob Thiessen
            <span class="cs-job">3'D Revolution Technologies</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-text italics">
            I really enjoyed working collaboratively with Aaron. He's very adept
            at what he does, and efficient as well. I also appreciated the
            professionalism he brought to my online communications with clients.
            His advise was always solid and thoughtful, and with his help I've
            been able to communicate my unique business and value proposition to
            clients much more effectively. This includes website and direct
            communications. I wouldn't hesitate to recommend Aaron Tonner Web
            Solutions to other business owners!
            <a
              target="_blank"
              href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
              >Read more...</a
            >
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/google-review-for-web-designer.svg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>

          <span class="cs-name">
            James Ross
            <span class="cs-job">Royco Electric</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-text">
            Aaron's professionalism and confidence made for an easy decision.
            With very little input on my end his initial design and layout was
            spot on to our branding. Aaron handled our changes and suggestions
            almost instantly and was always patient and willing to go the extra
            mile for our needs. I highly recommend Aaron to any business not
            only looking for a great website but to increase revenue and
            exposure. The tools he installed have already increased our customer
            connections.
            <a
              target="_blank"
              href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
              >Read more...</a
            >
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/website-design-company-calgary.png"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/website-design-company-calgary.png"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/website-design-company-calgary.png"
      alt="website design company calgary"
      width="886"
      height="842"
      loading="lazy"
    />
  </picture>
</section>
